aiofiles==24.1.0
anyio==4.4.0
asgiref==3.8.1
bcrypt==4.2.0
cffi==1.17.0
click==8.1.7
ecdsa==0.19.0
fastapi==0.112.2
greenlet==3.0.3
h11==0.14.0
idna==3.8
importlib-metadata==4.9.0
passlib==1.7.4
pyasn1==0.4.8
pycparser==2.21
pydantic==2.8.2
python-jose==3.3.0
python-multipart==0.0.5
rsa==4.8
six==1.16.0
sniffio==1.2.0
SQLAlchemy==2.0.32
starlette==0.38.2
typing_extensions==4.12.2
uvicorn==0.30.6
zipp==3.20.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9
gunicorn==23.0.0
prometheus_fastapi_instrumentator==7.0.0